.fx-upmb-fields:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
.fx-upmb-field{
	padding-bottom: 10px;
	margin-bottom: 10x;
	border-bottom: 1px solid #eee;
}
.fx-upmb-field:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
.fx-upmb-field:last-child{
	border-bottom: none;
}
.fx-upmb-field-label{
	width: 250px;
	float: left;
}
.fx-upmb-field-content{
	float: left;
	max-width: 100%;
}

/* === UPDATER CONFIG === */

/* Slug */
.fx-upmb-slug label{
	font-size: 16px;
	font-weight: 600;
}
#repo_slug{
	width: 250px;
	max-width: 100%;
}
/* Home URL */
.fx-upmb-home-url label{
	font-size: 16px;
	font-weight: 600;
}
#repo_uri{
	width: 250px;
	max-width: 100%;
}

/* === UPDATER DATA === */

/* Upload */
.fx-upmb-upload label{
	font-size: 16px;
	font-weight: 600;
}
#fxu_download_link{
	width: 400px;
	max-width: 100%;
}
/* Version */
.fx-upmb-version label{
	font-size: 16px;
	font-weight: 600;
}
#fxu_version{
	width: 80px;
	max-width: 100%;
}
.fx-upmb-version .fx-upmb-desc{
	color: #666;
	display: inline-block;
	font-style: italic;
	font-size: 13px;
}

/* === PLUGIN DATA === */

/* Release Date/Last Updated */
.fx-upmb-last-updated label{
	font-size: 16px;
	font-weight: 600;
}
	/* Month */
	.fx-upmb-month{
		width: 80px;
		padding: 1px 1px 1px 1px;
	}
	/* Day */
	.fx-upmb-day{
		position: relative;
		top: 2px;
		padding: 3px 6px 4px 6px;
	}
	/* Year */
	.fx-upmb-year{
		position: relative;
		top: 2px;
		padding: 3px 6px 4px 6px;
	}

/* WP Version */
.fx-upmb-wp-version label{
	font-size: 16px;
	font-weight: 600;
}
#wp_requires,
#wp_tested{
	width: 80px;
	max-width: 100%;
}
.fx-upmb-wp-version .fx-upmb-desc{
	color: #666;
	display: inline-block;
	font-style: italic;
	font-size: 13px;
}

/* Changelog */
.fx-upmb-changelog label{
	font-size: 16px;
	font-weight: 600;
}
#fxu_changelog{
	width: 400px;
	max-width: 100%;
}
.fx-upmb-changelog-area{
	font-size: 13px;
	line-height: 1.5;
	margin: 1em 0;
}


/* === Media Queries === */

@media screen and ( max-width: 1200px ) {
	.fx-upmb-field-label{
		width: 100%;
		float: none;
	}
	.fx-upmb-field-content{
		width: 100%;
		float: none;
	}
}

